{% macro iconed_error(form, fieldName) %}
    {% set label = form[fieldName] %}
    {% if form[fieldName].vars.errors|length > 0 %}
        <p class="text-red-500 text-md xl:text-xs italic">
            {{ ux_icon('flowbite:exclamation-circle-outline', {class: 'form-label-icon -pb-5'}) }}
            {{ form_errors(form[fieldName]) }}.
        </p>
    {% endif %}
{% endmacro %}
