{% macro iconed_label(form, fieldName, context) %}
    {% set label = form[fieldName] %}
    {% set tooltipKey = 'forms.' ~ context ~ '.help.' ~ fieldName %}
    <label class="form-label-text text-md xl:text-xs">
        {{ form_label(label) }}
        {% if tooltipKey|trans != tooltipKey %}
            <span class="form-label-span -mb-1"
                data-te-toggle="tooltip"
                data-te-html="true"
                data-te-ripple-init
                data-te-ripple-color="light"
                title="{{ tooltipKey|trans }}">
                {{ ux_icon('flowbite:question-circle-outline', {class: 'form-label-icon -pb-5'}) }}
            </span>
        {% endif %}
    </label>
{% endmacro %}
