{% if display|last == 1 %}
	<div id="clock_widget">
		<div class="spinner" id="clock_spinner">
			{% include "components/utility/spinner.html.twig" %}
		</div>
		<div class="widget_content" style="display: none;">
			<div class="font-semibold text-white">
				<h4 class="">RAM</h4>
				<div class="mt-6 mrelative inline-block overflow-hidden scale-105 translate-x-4 skew-y-3 md:transform-none">
					<svg class="transform -rotate-90 w-48 h-48">
						<circle cx="80" cy="80" r="70" stroke="currentColor" stroke-width="14" fill="transparent" class="text-gray-700"/>
						<circle cx="80" cy="80" r="70" stroke="currentColor" stroke-width="14" fill="transparent" class="ram-progress-circle text-blue-500 "/>
					</svg>
					<span
						class="percentage" id="clock_usage" style="top:50%!important;left:50%!important">{# {{ card.data.percentage|format_number(style='percent') }} #}

					</span>
				</div>
			</div>
			<div class="text-sm font-semibold" id="clock_model">
				<div class="total-text" id="clock_total">Total: 0 MB</div>
				<div class="free-text" id="clock_free">Free: 0 MB</div>
			</div>
		</div>
	</div>
{% endif %}
