{% if display|last == 1 %}
	<div id="cpu_widget">
		<div class="spinner" id="cpu_spinner">
			{% include "components/utility/spinner.html.twig" %}
		</div>
		<div class="widget_content" style="display: none;">
			<div class="font-semibold text-white">
				<h4 class="">CPU Usage</h4>
				<div class="mt-6 relative inline-block overflow-hidden scale-105 translate-x-4 skew-y-3 md:transform-none">
					<svg class="transform -rotate-90 w-48 h-48">
						<circle cx="80" cy="80" r="70" stroke="currentColor" stroke-width="14" fill="transparent" class="text-gray-700"/>
						<circle cx="80" cy="80" r="70" stroke="currentColor" stroke-width="14" fill="transparent" class="cpu-progress-circle text-blue-500 "/>
					</svg>
					<span
						class="percentage" id="cpu_usage">{# {{ card.data.percentage|format_number(style='percent') }} #}
					</span>
				</div>
			</div>
			<div
				class="text-sm font-semibold model-text" id="cpu_model">{# {{ card.data.model }} #}
			</div>
		</div>
	</div>
{% endif %}
