{% import '_macros/page_card_content.html.twig' as page_content %}
{% import '_macros/page_card_header.html.twig' as page_header %}

<div class="pt-[2.3615rem]">
	<div class="lg:pl-[19.5rem]">
		<div class="max-w-3xl mx-auto pt-10 xl:max-w-none xl:ml-0 card-blur">
			<header id="header" class="relative z-20">
			</header>
			<div id="content-wrapper" class="relative z-20 prose prose-slate mt-8 dark:prose-dark"></div>
			<div class="fixed z-20 top-[3.8125rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 overflow-y-auto hidden xl:block"></div>
		</div>
	</div>
</div>
