.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-red-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.submenu-trigger:hover .submenu {
    display: block;
}

#appStoreModal .modal-content {
    max-height: 85vh;
    overflow-y: auto;
}
