{% macro page_header(title, label, catchphrase) %}
	<div>
		<p class="mb-2 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400">{{ title }}</p>
		<div class="flex items-center">
			<h1 class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">{{ label }}</h1>
		</div>
	</div>
	{% if catchphrase is not null %}
		<p class="mt-2 text-lg text-slate-700 dark:text-slate-400">Getting the most performance out of Tailwind CSS projects.</p>
	{% endif %}
{% endmacro %}
