<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('dashboard') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('dashboard') }}
		{% endblock %}
	</head>
	<body class="bg-fixed background-cover" data-page={{ user.id }}>
		{% include "components/navigation/sidebar.html.twig" %}
		<div class="bottom-0 left-0 right-0 top-0 h-full w-full bg-fixed p-6 text-center text-white/80"> {% block body %}{% endblock %}
			</div>
			<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
		</body>
	</html>
