
<div {{ attributes }} data-model="on(change)|max">
	<div class="flex flex-col items-center mt-3 border-t border-gray-700">
		{% set apps = this.apps|sort((a, b) => a.application.name <=> b.application.name) %}
		{% for service in apps %}
			<a class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-700 hover:text-gray-300" href="{{ service.configuration['0'].root_url|lower }}">
				<img class="w-8 h-8 rounded-full" src="{{ asset('soft_logos/' ~ service.application.altName ~ '.png') }}" alt="">
			</a>
		{% endfor %}
	</div>
</div>
