{% extends 'users/base.html.twig' %}

{% block title %}Security Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
	{% import '_macros/settings_macro.html.twig' as settings_macro %}
	{% import '_macros/form_macros.html.twig' as form_macros %}
    {% import '_macros/profile_macro.html.twig' as profile %}
	<div class="max-w-[98%] md:mx-auto md:px-auto lg:pl-[5rem]">
        <div class="xl:pt-[.3615rem] pt-[6.5rem]">
            {{ profile.banner(user) }}
        </div>
        <div class="xl:pt-[2.3615rem] pt-[6.5rem] text-gray-600 dark:text-slate-200">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full lg:w-1/4 px-3 mb-6">
                    <div class="p-4 bg-gray-200/55 dark:bg-gray-900/85 rounded-lg shadow-md">
                        <h3 class="text-xl font-semibold mb-4">Preferences</h3>
                        <div class="flex justify-between items-center mb-4">
                            <label for="switch-3" class="cursor-pointer">
                                Preference 1
                            </label>
                            <label class="relative inline-flex cursor-pointer">
                                <input id="switch-3" type="checkbox" class="peer sr-only" />
                                <label for="switch-3" class="hidden"></label>
                                <div class="peer h-4 w-11 rounded border dark:border-gray-900/85 bg-red-500 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-200/55 dark:after:border-gray-900/85 after:bg-white after:transition-all after:content-[''] peer-checked:bg-green-400 peer-checked:after:translate-x-full peer-focus:ring-green-400"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-3/4 px-3 text-gray-600 dark:text-slate-200">
                    <form action="#" method="POST" class="p-4 bg-gray-200/55 dark:bg-gray-900/85 rounded-lg shadow-md">
                        <h3 class="text-xl font-semibold mb-4">Edit user form</h3>
                        <div class="mb-4">
                            <label for="example" class="block text-sm font-bold mb-2 text-left">Email</label>
                            <input type="text" id="example" name="example" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="mb-4">
                            <label for="example" class="block text-sm font-bold mb-2 text-left">Email</label>
                            <input type="text" id="example" name="example" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="mb-4">
                            <label for="example" class="block text-sm font-bold mb-2 text-left">Email</label>
                            <input type="text" id="example" name="example" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="mb-4">
                            <label for="example" class="block text-sm font-bold mb-2 text-left">Email</label>
                            <input type="text" id="example" name="example" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>                        
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
